<section class='m_widget music'>
    <div class='header'><i class="fa fa-music fa-fw" aria-hidden="true"></i>&nbsp;&nbsp;音乐</div>
    <div class='content'>
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" style="margin-left:-15px;" width=108% height=475 
        src="//music.163.com/outchain/player?type=2&amp;id=<%= config.widgets.musicid %>&amp;auto=1&amp;height=450"></iframe>
    </div>
</section>
